html, body {
    margin: 1px;
    background-color: rgb(240, 240, 240);
    color: rgb(71, 53, 25);
    text-align: center;
    font-size: 1.2em;
}
.kart {
    margin: 20px;
    height: 300px;
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.mesaj{
    background-color: green;
    color: white;
}
.link{
    color: yellow;
    cursor: pointer;
    text-decoration: underline;
}